* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*------------ Navigation Bar --------*/
#navbar {
    max-width: 100vw;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: relative; */
    /* left: 0; */
    background: transparent;
}

.logo a img {
    width: auto;
    height: 35px;
    float: left;
    background: transparent;
    margin-left: 20px;
}

.logo a img:hover {
    transition: fliter 1s;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 10%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
}

#navbar ul {
    list-style: none;
    display: flex;
    margin: 1px 30px;
}

#navbar ul li {
    padding: 16px;
    filter: drop-shadow(1px 1px 1px black);
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    display: block;
    padding: 5px 0;
    position: relative;
    letter-spacing: 1px;
    color: white;
}

#navbar li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: orangered;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#navbar li a:hover:after {
    transform: scale(1, 1);
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 6px;
    height: 450px;
    color: white;
    font-size: 20px;
}

#home h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin-top: 20px;
    filter: drop-shadow(1px 1px 4px black);
}

#home p {
    font-weight: 400;
    letter-spacing: 4px;
    filter: drop-shadow(1px 1px 4px black);
}

#home::before {
    content: "";
    background: url('/Images/background.webp') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.contact-mail {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1em;
    /* margin-left: 33%; */
    margin-left: auto;
    color: white;
    font-size: 18px;
}

.contact-mail a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow: 0 0 10px #2a2a2a;
}

/*---------- Route Block ------------*/

.holidays h1 {
    margin: 150px 0 0 100px;
    font-size: 45px;
    font-weight: 1000;
}

.tours img {
    width: auto;
    height: 80px;
    display: inline;
}

#block-1 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 200px;
    position: relative;
    margin: 70px 20px 100px 20px;
}

.tours {
    width: auto;
    flex-basis: 25%;
    border-radius: 15px;
    align-content: center;
    justify-content: space-around;
    margin: 0 20px 0 20px;
    cursor: pointer;
    text-align: center;
}

.tours:hover {
    background-color: #28282B;
    color: white;
    transition: 0.8s ease;
    box-shadow: 0 0 10px black;
}

.tours:hover img {
    filter: invert();
    transition: 0.8s ease;
}

.tours p {
    margin-top: 10px;
    font-weight: 1000;
    font-size: 17px;

}


/*------ Packages block ------------*/

#Package-heading {
    text-align: center;
    margin: 20px;
}

#Package-heading h1 {
    border-bottom: 1px solid #A51C30;
    display: inline;
    padding-bottom: 5px;

}

#package-block {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.package-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-2 {
    width: 140px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url('./Images/Eiffel_Tower.webp')no-repeat center center/cover;
    position: relative;
    transition: width 0.5s;
}

.block-2:nth-child(2) {
    background: url('./Images/Rome.webp') no-repeat center center/cover;
}

.block-2:nth-child(3) {
    background: url('./Images/Dubai.webp') no-repeat center center/cover;
}

.block-2:nth-child(4) {
    background: url('./Images/Egypt.webp') no-repeat center center/cover;
}

.block-2:nth-child(5) {
    background: url('./Images/india.webp') no-repeat center center/cover;
}

.block-2 h2 {
    color: #fff;
    position: absolute;
    bottom: 0;
    top: 30px;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
    font-weight: 400;
}

.block-2:hover {
    width: 350px;
    cursor: pointer;
}

.block-2:hover h2 {
    opacity: 1;
    top: 30px;
}

/*---------- Region Package ----*/

#region {
    text-align: center;
    margin: 20px;
}

#region h1 {
    border-bottom: 1px solid #A51C30;
    display: inline;
    padding-bottom: 5px;

}

#region-block {
    display: flex;
    height: 400px;
}

.block-3 {
    flex-basis: 20%;
    width: 200px;
    height: 200px;
    margin: 20px;
    cursor: pointer;
    transition: 0.1s ease-out;
}

.block-3:hover {
    outline: 3px solid #0a0a0a;
    outline-offset: 10px;
    border-radius: 7px;
    padding: 10px;
}

.block-3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.block-3 p {
    text-align: center;
}


/*----- contact us block ----------*/
.block-6 {
    text-align: center;
    margin: 35px;
}

#contact-block {
    position: relative;
    height: 200px;
    overflow: hidden;
    margin: 0px 25px;
    border-radius: 10px;
    cursor: pointer;
}

#contact-block::before {
    content: "";
    background: url('./Images/contactus.webp') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    margin: 0;
    padding: 10px;
}

.block-6 p {
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/******* Form Block ********/

.form-block {
    text-align: center;
    margin: 40px 0 10px 0;
}

.form-block h1 {
    border-bottom: 1px solid #A51C30;
    padding-bottom: 5px;
    display: inline;
}

#form {
    display: flex;
    flex-direction: row-reverse;
    place-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px;
    font-size: 20px;
}

#form::before {
    content: "";
    background: url('./Images/form.webp')no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    top: 0;
    border-radius: 10px;
}

#form label {
    width: 200px;
    display: inline-block;
    margin: 10px 50px;
}

#message {
    margin: 10px 50px;
    border-radius: 10px;
    padding: 7px;
    font-size: 15px;
    opacity: 0.5;
}

#button {
    padding: 3px 17px;
    margin: 0px 50px 30px 50px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #0a0a0a;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
}

#button:hover {
    background-color: #0a0a0a;
    color: #fff;
    transition: 0.8s;
}

.form-class {
    padding: 4px 20px 4px 4px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.form-class:focus {
    outline: none;
    border: none;
    border-radius: 7px;
}

/*-----------  Office Block ---*/

.office-block {
    text-align: center;
    margin: 40px 0 10px 0;
}

.office-block h1 {
    border-bottom: 1px solid #A51C30;
    padding-bottom: 5px;
    display: inline;
}

.branch {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.block-8 {
    flex-basis: 30%;

}

.block-8 h3 {
    color: #cb3904;
    font-weight: 600;
    line-height: 2;
}

.block-8 p {
    line-height: 1.5;
}

.block-8 a {
    color: #0a0a0a;
    line-height: 2;
}

#destination::before {
    content: "";
    background: url('./Images/banner.webp') no-repeat center center/cover;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 6px;
    height: 300px;
    color: white;

}

#destination h1 {
    width: auto;
    font-size: 40px;
    display: inline-block;
    border-bottom: 2px solid #cb3904;
    padding-bottom: 5px;
}

#destination h1:hover {
    color: #0a0a0a;
    cursor: pointer;
}

/*----------- Top Package Block -----------*/

#destination-block {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    margin-top: 100px;
    justify-content: space-around;
    height: 200vh;
    width: 100%;
    background-color: #0a0a0a;
}

.block-5 {
    display: inline;
    height: 490px;
    border-radius: 10px;
    margin: 50px 0;
    line-height: 1.6;
    background-color: #fff;
    padding: 10px 10px;
}


.block-5 img {
    border-radius: 10px;
    width: 100%;
    margin: auto;
    padding-bottom: 3px;
    
}
.block-5 p{
    font-weight: 600;
}

.block-5 h3 {
    text-align: center;
    color: #cb3904;
    font-weight: 600;
    border-bottom: #cb3904;
}

.block-5 h3::after {
    content: "";
    display: block;
    width: 15%;
    height: 1px;
    margin: 3px auto;
    background-color: #e94500;
}

.block-5:hover {
    cursor: pointer;
    outline: 3px solid #fff;
    outline-offset: 10px;
    border-radius: 10px;
}
.enquire{
    text-align: center;
    margin: 27px;
}
.enquire button{
    color: orangered;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border-color: orangered;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}
.enquire button::before{
    content: "";
    position: absolute;
    background-color: orangered;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    z-index: -1;
    top: 100%;
    left: 100%;
    transition: 0.5s;
}
.enquire button:hover{
    color: #fff;
}
.enquire button:hover::before{
    top: -30px;
    left: -30px;
}

/*--------------- Destinations Block --------*/

.places-1 h2{
    color: orangered;
    font-weight: 600;
    margin: 40px;
    text-align: center;
}
.places-block{
    overflow: hidden;
    margin: 0px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.places-block p{
    line-height: 2;
    padding: 40px 40px;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
#places{
    position: relative;
    overflow: hidden;
    margin: 0px 25px;
    border-radius: 10px;
    cursor: pointer;
    height: 130vh;
}
#places::before{
    content: "";
    background: url('./Images/taj_mahal.webp') no-repeat center center/cover;
    position: absolute;
    height: 120vh;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#places-2{
    color: orangered;
    text-align: center;
}
#places-2 h2{
    padding: 2px;
    display: inline;
    border-bottom: 2px solid orangered;
}

#places-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 50px;
}
.block-9{
    align-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.block-9 img{
    border-radius: 10px;

}
.block-9 p{
    font-size: 17px;
    font-weight: 700;
    border-bottom: 2px solid #e94500;
    border-right: 2px solid #e94500;
    letter-spacing: 1;
    border-left: 2px solid #e94500;
    padding: 8px 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/*------------ Footer Block ------------*/

footer {
    width: 100%;
    background-color: black;
    border-top-left-radius: 200px;
    padding: 40px 0 10px;
    color: wheat;

}

.footer-block {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

.block-7 {
    flex-basis: 25%;
    margin: auto;
    padding: 10px;
    align-content: center;
}

.logo-1 {
    width: 20%;
    margin-left: 35%;
    margin-bottom: 6px;
}

.logo-1:hover {
    transition: 0.4s ease;
}

.block-4 {
    list-style: none;
}

.block-4 a {
    text-decoration: none;
    color: white;
    line-height: 25px;
}

.block-4 a:hover {
    color: wheat;
    border-bottom: 1px solid wheat;
}

.block-7 h4 {
    border-bottom: 1px solid silver;
    line-height: 30px;
    margin-bottom: 17px;
}

.block-7 p {
    line-height: 2;
}

.block-7 a {
    text-decoration: none;
    color: wheat;
    line-height: 2;
}

#form-block {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

#form-block .fa {
    font-size: 18px;
    margin-right: 10px;
}

#email-id {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.bottom {
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px){
    
}